################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/__pycache__
/.gitattributes
/rummy.exe
/Rummy.sln
/Rummy.pyproj
